<!--Container Start-->
<article @auth class="flex flex-col items-center gap-3 2xl:gap-6">
  <!--Logo Client Start-->
  <img
    src="/images/logos/lunches-logo.svg"
    alt="Logo Lunches"
    class="w-fit h-10 2xl:h-12"
  />
  <!--Logo Client End-->
  <div
    class="bg-white p-4 xl:p-6 2xl:p-8 rounded-xl transition-shadow duration-300 shadow hover:shadow-lg border border-gray-200 !w-full !max-w-[352px] 2xl:!max-w-[368px]"
  >
    <h1 class="text-base font-semibold !text-gray-700 mb-1.5 text-center">¡Bienvenido a Gestión de Usuarios!</h1>
    <p class="!text-gray-700 !text-base text-center">
      Recupere su contraseña: Ingrese su email y le enviaremos un enlace para recuperar el acceso a su
      cuenta.
    </p>
    <form
      (ngSubmit)="resetPassword()"
      [formGroup]="loginForm"
      [class]="{ 'form--invalid': submitted }"
      class="mt-3"
    >
      <div class="relative mb-3">
        <label
          for="email"
          class="block mb-2 text-sm font-medium !text-gray-700"
          >Email</label
        >
        <input
          formControlName="email"
          name="email"
          id="email"
          type="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm font-medium rounded-lg focus:ring-primary focus:ring-opacity-50 focus:border-primary  block w-full p-2.5"
          placeholder="example@gmail.com"
          required
        />
        @if (loginForm.controls['email'].errors?.['required']) {
        <div class="invalid-feedback !text-gray-600 text-sm">El campo es requerido.</div>
        } @if (loginForm.controls['email'].errors?.['email'] || isValidEmail === false) {
        <div class="invalid-feedback !text-gray-600 text-sm">
          El Email es inválido. Intente nuevamente.
        </div>
        }
      </div>

      <div class="gap-2 flex justify-center mt-5">
        <button
          type="button"
         [routerLink]="'/auth/password-change'"
          class="w-full text-white bg-primary hover:bg-opacity-90 focus:ring-4 focus:ring-primary focus:ring-opacity-30 font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none"
        >
          Restablecer contraseña
        </button>
      </div>
    </form>
  </div>
</article>
<!--Container End-->
