<!--//////////-->
<!--Toast Notification Start-->
<app-notifications/>
<!--Toast Notification End-->
<!--//////////-->
<!--Body Login start-->
<section class="flex w-full h-screen bg-white">
  <div class="flex justify-center items-center !h-[calc(100vh-36px)] w-full">
    <router-outlet></router-outlet>
  </div>
</section>
<!--Body Login End-->
<!--//////////-->
<!--Footer Login Start-->
<footer
  class="flex justify-center bg-gray-300 absolute bottom-0 w-full z-10 py-2"
>
  <div class="w-full text-gray-900 font-medium flex items-center justify-center">
    <span class="text-sm mr-3 border-r border-r-gray-900 pr-3"
      >BackOffice © 2025</span
    >
    <span class="text-sm">Powered by </span>
    <!--Logo White Start-->
    <!-- <img
      alt="logo_origin"
      class="w-16 ml-1.5"
      src="images/logos/logo_origin_white.svg"
    /> -->
    <!--Logo White End-->
    <!--//////////-->
    <!--Logo White Start-->
    <img
      alt="logo Powered by Origin"
      src="images/logos/logo_origin.svg"
      class="w-16 ml-1.5"
    />
    <!--Logo White End-->
  </div>
</footer>
<!--Footer Login End-->
<!--//////////-->
